h1{
    color: rgb(94, 136, 136);
    font-size: 50px;
    text-align: center;
    text-align: justify;
    
}
p{
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    color: aqua;
    font-size: 50px;
    text-align: center;
    text-align: justify;
    
}