<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>position-relative</title>
    <style>
        p.example {
            position: relative;
            top: 10px;
            left: 100px;
        }
    </style>
</head>
<body>
    <h1>The Evolution of the Bicycle</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem, omnis eligendi sint ipsa adipisci recusandae pariatur quibusdam numquam exercitationem architecto incidunt facilis qui aliquam neque dolor maiores corporis animi dolorem hic itaque, perferendis repellendus iusto deserunt fugit? Culpa, quidem ducimus.</p><br>
    <p class="example">In 1817 Baron von Drais invented a walking machine that would help him get around the royal gardens faster Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum fugiat perferendis nobis. Asperiores magni explicabo sed quibusdam corrupti optio in?</p><br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ipsam, dolorum quod odio sunt reiciendis recusandae ex, quos veniam atque fuga quibusdam natus repellat facere voluptate, nisi ipsa ipsum. Ducimus.</p>
</body>
</html>