<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>using float</title>
    <style>
        body {
            width: 750px;
            font-family: Arial, Verdana, sans-serif;
            color: #665544;
        }
        p {
            width: 230px;
            float: left;
            margin: 5px;
            padding: 5px;
            background-color: #efefef;
        }
    </style>
</head>
<body>
    <h1>using float</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt aperiam dolores maiores ducimus voluptatum. Quam ea nesciunt quae, atque repellat itaque? Cupiditate distinctio, itaque ab vitae hic voluptates nostrum aut esse facilis ipsam sit atque obcaecati iste soluta, temporibus natus. Quidem enim ea dicta omnis reprehenderit, fugit quod harum natus illo dolor quo odit autem illum, impedit tenetur ab a pariatur. Suscipit sequi dolorem fugiat architecto <p><br>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione et corporis excepturi commodi non tempore cum tempora voluptatum, debitis voluptatem</p><br>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, architecto quaerat, iusto eum illum reiciendis rem veniam aliquid dignissimos rerum, magnam numquam. Nulla unde nam nesciunt aliquid tenetur ipsa maiores.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione et corporis excepturi commodi non tempore cum tempora voluptatum, debitis voluptatem</p><br>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione et corporis excepturi commodi non tempore cum tempora voluptatum, debitis voluptatem</p><br>
</body>
</html>