<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>clear</title>
    <style>
        body {
            width: 750px;
            font-family: Arial, Verdana, sans-serif;
            color: #665544;
        }
         p {
            width: 230px;
            float: left;
            margin: 5px;
            padding: 5px;
            background-color: #efefef;
        }
        .clear {
            clear: left;
        }
    </style>
</head>
<body>
    <h1>clear</h1>
    <p class="clear">In 1865, the velocipede (meaning"fast foot") attached pedals to the front wheel,but its wooden structure made it extremely uncomfortable.</p>
    
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos doloribus reiciendis deleniti ratione repellat beatae architecto neque quidem commodi placeat eius aut voluptas excepturi, minima fugiat nostrum impedit sed quisquam error amet aperiam? Maxime commodi molestias quaerat molestiae a quia!</p><br>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam quibusdam doloribus mollitia rem? Voluptatem, ullam omnis dolorum similique autem fugit exercitationem quas provident, aliquid aliquam quam, tempora vel. Neque recusandae modi praesentium amet minima non voluptatem placeat quidem at explicabo.</p>
</body>
</html>